


.columna {
    flex: 0 0 25%; /* Ocupa el 30% del espacio disponible */
    margin: 20px;
}

.columna img {
    max-width: 100%;
    max-height: 250px;
    width: auto;
    height: auto;
}

.columna p {
    margin: 10px 0;
}

button {
    background-color: #253745;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: inline-flex;
    width: 100%;
    margin: 10px auto;
}

.reservation-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
}

.reservation-form input[type="date"],
.reservation-form select,
.reservation-form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reservation-form button . {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reservation-form button:hover {
    background-color: #0056b3;
}

#llegada, #salida  {
    font-size: 16px; /* Aumenta el tamaño del texto */
    width: 200px; /* Aumenta el ancho del elemento */
    height: 50px; /* Aumenta la altura del elemento */
}


.room-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical */
    max-height: 80vh; /* Ajusta este valor según tus necesidades */
    overflow-x: hidden; /* Esconde la barra de desplazamiento horizontal */
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
}

/* Asegúrate de que los elementos se dispongan en una fila */
.room-item {
    display: flex;
    flex-direction: row; /* Cambiado de column a row */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
}

/* Ajusta el tamaño de la imagen */
.room-item img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

/* Detalles de la habitación */
.room-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 220px); /* Resta el ancho de la imagen más un margen */
}

/* Estilos de encabezado */
.room-details h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

/* Estilos de párrafos */
.room-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

/* Estilo para el botón de reservar */
.room-details button {
    align-self: start;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.room-details button:hover {
    background-color: #0056b3;
}

/* Estilo para la información de la habitación */
.room-info {
    display: flex;
    justify-content: flex-start;
    gap: 20px; /* Añade un poco de espacio entre los elementos */
    text-align: left;
}

.room-info p {
    margin: 0;
    font-size: 16px;
    color: #666;
}


#formulario {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 60%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#formulario h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

#formulario p {
    font-size: 16px;
    color: #555;
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 1;
    color: #333;
    font-weight: bold;
}

.form-group input {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

.form-group:nth-child(odd) {
    margin-right: 10px;
}

.form-group:nth-child(even) {
    margin-left: 10px;
}

#formulario input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

#formulario input[type="submit"]:hover {
    background-color: #0056b3;
}

#cerrarFormulario {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e09797;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: 48%;
}

